{
  "extends": "./tsconfig.base.json",
  "include": [
    "typescript/apps/*/src/**/*.ts",
    "typescript/packages/*/src/**/*.ts",
    "typescript/tools/*/src/**/*.ts"
  ],
  "exclude": ["node_modules", "**/dist/**", "**/build/**"]
}
